@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Tailwind blue-600 */
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Smooth transitions for all elements */
* {
  transition: all 0.2s ease-in-out;
}

/* App background */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
}
